/* Style reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
    box-sizing: border-box;
}

article {
	padding: 20px;
}

article:nth-of-type(2n) {
	background: #f5f5f5;
}

article:nth-of-type(2n -1) {
	background: blue;
	color: white;
}

p.article > span:first-of-type {
		    /* font-style: italic; */
    /* background: #efefef; */
    display: inline-block;
    /* margin: 5px 0px; */
    /* padding: 5px; */
    font-size: 17px;
    font-weight: bold;
    color: blue;
}

p.article > span:last-of-type {
	margin-left: 10px;
	border-left: 1px solid;
	padding-left: 10px;
}
p.article > span:last-of-type.published {
	color: gray;
}
p.article > span:last-of-type.unpublished {
	color: #cccccc;
}

p.article {
	margin-bottom: 5px;
	border-bottom: 1px solid #cccccc;
    padding-bottom: 5px;
}

.col-title {
	font-size: 20px;
	margin-bottom: 10px;
}

span.article-content {
	font-size: 16px;
}

li {
	margin-bottom: 20px;
}

p.article-link-wrapper {
	margin-top: 10px;
}

.collaboration-name {
    font-style: italic
}

#intro {

}

#publications {

}

#activities {

}

#teaching {

}